---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 50rem;
    margin: 0 auto 1.35rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 8px;
    font-weight: 700;
  }
</style>
